@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #FFEBCD;
    --cor-secundaria: #AA8B56;
    --cor-fundo: #395144;

    --fonte-titulos: 'Kanit', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background: var(--cor-fundo);
    /* background: rgb(161,91,77);
    background: radial-gradient(circle, rgba(161,91,77,1) 0%, rgba(144,142,135,1) 100%); */
    color: var(--cor-primaria);
}

.linguagens {
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-titulos);
    color:  var(--cor-secundaria);
    font-weight: 600;
    font-size: 1.50rem;
    text-decoration: none;
}

.apresentacao{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 2.50rem;
    font-family: var(--fonte-titulos);
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 1.50rem;
}

.apresentacao__links__redes{
    /* background-color: brown - botao preenchido; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px outset var(--cor-primaria);
    width: 80%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.50rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria); 
}

.apresentacao__links__redes:hover{
    background-color: #4E6C50;
}

.imagem{
    width: 35%;
    border-radius: 10px;
    border: 3px inset var(--cor-primaria);
}

.rodape{
    color: var(--cor-fundo);
    background-color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.50rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0% 0%;      
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}

/* .apresentacao__conteudo__texto{
    text-decoration: none;
    color: #A52A2A;
    font-family: 'Montserrat', sans-serif;
} */